body{
  background:#8f9779;
  font-family:'PT Serif', serif;
}

header{
  text-align:center;
}

li{
  list-style-type: none;
  display:inline;
}

nav{
  text-align:center;
}

ol{
  padding:10px 25px;
  border:1px solid black;
  display:inline-block;
  background:rgba(255,255,255,.3);
}

main{
    border: 1px solid black;
    background:rgba(255,255,255,.3);
}

div{
  margin:15px 30px;
}

.backgcolor{
    background:#a3a090;
    width:100%;
    margin:0;
    padding-top:5px;
    padding-bottom:3px;
}

.backgcolor > .bandstand {
    padding-top:5px;
}

.section{
    border-top:1px solid black;
    border-bottom:1px solid black;
}

footer{
  margin-top:50px;
  text-align:center;
}

.text{
    text-align:center;
}

.text > h2 {
    text-align:left;
    margin-left:47px;
}

.text > p{
    margin-top:25px;
}

.about{
    text-align:left;
    max-width:1000px;
    margin:auto;
}

.event{
    text-align:left;
    margin:auto;
/*    padding:3px 10px 10px 0;*/
}

.bandstand > p{
    margin-bottom:10px;
}

p{
    padding:0px;
    margin:0px;
}

.photos{
    text-align:center;
}

.photos:hover{
/*    cursor:pointer;*/
}

.music{
  border:1px solid black;
  max-height:350px;
  display:inline-block;
  margin:15px 0;
}

.offsite{
    height:500px;
}

.sponsor{
  border:1px solid black;
  height:100px;
}

ul > li{
    display:block;
    margin:0 0 5px;
}

.modal{
    display:none;
    position: fixed;
    z-index: 1;
/*    padding-top: 100px; */
    padding-top: 0;
    padding-bottom: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

/*    height: 100%;*/
    overflow: hidden;
    
    /*background-color: transparent black;*/
    /*background-color: black;*/
    background: rgba(0, 0, 0, 0.3);
    padding:0;
    margin: 0;
/*    margin-left:0;*/
    text-align:center;
/*    border:5px solid white;*/
}

.slide {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  /*padding: 0;*/
  /*margin-left: 10px;*/
  /*margin-right: 10px;*/
  margin-top: 5vh;
  margin-bottom: 5vh;
    /*width: 100%;*/
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 90%;
  padding:0px;
  border-color: white;
  border-style: solid;
  border-width: 4px;
  -webkit-box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.65);
  box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.65);
  object-fit:cover;
}

    .event{
        border-left:1px solid black;
        border-right:1px solid black;
        padding: 3px 10px;
}
        

    .summer:first-of-type{
        border-top:1px solid black;
    }
    
    .winter:nth-of-type(2){
        border-top:1px solid black;
    }
    
    .event:last-of-type{
        border-bottom:1px solid black;
    }
    
    .summer:nth-of-type(2n-1){
        background:#a3a090;
    }
    
    .winter:nth-of-type(2n){
        background:#a3a090;
    }
    
    .bandstand{
        border:none !important;
    }

@media screen and (max-width:800px){
    *{
        padding:0;
        margin:0 auto;
        text-align:center !important;
        font-size:20px;
    }
    
    header > h1{
        font-size:40px;
    }
    
    .text{
    }
    
    .text > h2{
        text-align:center;
        margin:0;
        font-size:35px;
    }
    
    img{
        width:100%;
    }
    
    .sponsor, .offsite{
        max-width:400px;
    }
    
    .event{
        margin:0 auto;
        padding:3px;
    }
    
}